
* {
    margin: 0;
    padding: 0;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin: 0;
    padding: 0;
}
body{
    font-size: 15px;
    background: #f1f2f6;
}

/*轮播1*/
.banner_wrap{
    width: 100%;
    height:593px;
    position:relative;
    min-width:1100px;
    overflow: hidden;
}
.bchange{
    position:absolute;
    left:50%;
    margin-left:-108px;
    bottom:40px;
    z-index:20;
    height:29px;
    width:216px;
    background:url(../image/index/next&prev_line.png) no-repeat left center;
}
.bchange > span{
    position:absolute;
    top:0;
    height:29px;
    width:29px;
    background:url(../image/index/prev_jiantou.png) no-repeat;
    cursor:pointer;
}
.bchange > .next{
    right:0;
    background:url(../image/index/next_jiantou.png) no-repeat;
}

.bchange .middle_points{
    margin:0 auto;
    width:45px;
    height:14px;
    background:url(../image/index/next&prev_mbg01.png) no-repeat;
    margin-top:7px;
}
.bchange .middle_wrap{
    background:url(../image/index/next&prev_mbg03.png) no-repeat right;
    height:14px;
}
.bchange .middle{
    background:url(../image/index/next&prev_mbg02.png) repeat-x;
    height:14px;
    margin:0 6px;
}
.bchange .middle span{
    display:block;
    float:left;
    width:6px;
    height:6px;
    margin-right:7px;
    margin-top:4px;
    background:url(../image/index/next&prev_others.png);

}
.bchange .middle span.last{
    margin-right:0;
}
.bchange .middle .now{
    background:url(../image/index/next&prev_now.png);
}
.banner_one{
    height:593px;
    position:absolute;
    top:0;
    left:0;
    width:100%;
}
.banner_01{
    background:url(../image/index/banner01_bg.jpg) no-repeat top center;
}
.banner_one_contents{
    width:1100px;
    margin:0 auto;
    position:relative;
}
.banner_one_contents *{
    display:none;
}
.banner_01 .image01{
    position:absolute;
    top:204px;
    left:343px;
}
.banner_01 .image02{
    position:absolute;
    top:300px;
    left:375px;
}
.banner_01 .image03{
    position:absolute;
    top:354px;
    left:374px;
}
.banner_02{
    background:url(../image/index/banner02_bg.jpg) no-repeat top center;
}

.banner_02 .image01{
    position:absolute;
    top:177px;
    left:61px;
}
.banner_02 .image02{
    position:absolute;
    top:70px;
    left:261px;
}
.banner_02 .image03{
    position:absolute;
    top:195px;
    left:270px;
}
.banner_03 .image01{
    top:189px;
    left:384px;
}
.banner_03 .image02{
    top:298px;
    left:397px;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-250px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}
.fadeInLeft{
    animation: fadeInLeft 1s;
}

@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }
    60% {
        opacity: 1;
        transform: translateX(-25px);
    }
    75% {
        transform: translateX(10px);
    }
    90% {
        transform: translatex(-5px);
    }
}
.bounceInRight{
    animation:bounceInRight 1s ;
}


/*主要产品*/

.main{
    width:1100px;
    margin:0 auto;
    text-align: center;
}
.main img{
    margin:0 auto;
    display:block;
}
.main h1{
    text-align:center;
    font-size:45px;
    color:#311759;
    letter-spacing: 5px;
}
.main h2{
    text-align:center;
    color:#311759;
    font-size:18px;
    letter-spacing:6px;
}
.pro-content{
    width: 100%;
    height: 540px;
    position: relative;
    overflow: hidden;
}
.now_line {
    width: 19px;
    margin-right: 51px;
    float: left;
    height: 380px;
    background: url(../image/index/chanpin_nowline_bgline.png) repeat-y 9px 20px;
    margin-top: 22px;
}
.now_linebtn_one{
    text-align:center;
    height:11px;
    margin-bottom:63px;
}
.now_linebtn_one i{
    display:none;
    width:19px;
    height:19px;
    background:url(../image/index/chanpin_nowline_daquan.png);
    cursor:pointer;
    position:relative;
    left:0;
    top:-4px;

}
.now_linebtn_one span{
    display:block;
    width:11px;
    height:11px;
    margin:0 auto;
    background:url(../image/index/chanpin_nowline_xiaoquan.png);
    cursor:pointer;
}
.now_linebtn_one.now i{
    display:block;
    transition: all 0.5s;
}
.now_linebtn_one.now span{
    display:none;
}
.now_linebtn_one span:hover{
    background:url(../image/index/chanpin_nowline_xiaoquan.png) 0 11px;
    transition: all 0.5s;
}

.pro-info{
    width: 1020px;
    float: left;
    text-align: left;
    position: relative;
}
.content_one *{
    position: relative;
}
.content_one{
    width: 100%;
    position: absolute;
    display:none;
    top: 0;
}
.left_content{
    float:left;
}
.right_content{
    width:613px;
    float:right;
}

.right_content h1{
    color:#311759;
    font-size:26px;
    background:url(../image/index/pen_line.png) no-repeat left bottom;
    height:60px;
    position:relative;
    text-align: left;
    letter-spacing: 5px;
}
.right_content .pen{
    width:61px;
    height:54px;
    background:url(../image/index/pen.png) no-repeat;
    position:absolute;
    right:0;
    bottom:-1px;
}

.content_body{
    color:#565559;
    font-weight:500;
}

.content_body .p1{
    overflow:hidden;
    margin:35px 0 90px 10px;
}
.content_body .p1 *{
    float:left;
}
.content_body .p1 img{
    margin-right:25px;
    margin-top:5px;
}
.content_body .p1 h2{
    font-size:20px;
    width:470px;
    text-align: left;
    font-weight: bold;
}
.content_body .p1 p{
    width:480px;
    line-height:24px;
    margin-top: 8px;
   ;
}
.content_body .p2 p{
    line-height:26px;
    padding: 0;
    margin: 0;
}
.content_body .tip{
    margin-top:30px;
}
.content_body .tip *{
    float:right;
}
.content_body .tip p{
    margin-top:14px;
    font-size:16px;
}
.pro-line{
    position: absolute;
    left: 53%;
    margin-left: -108px;
    top: 232px;
    z-index: 20;
    height: 29px;
    width: 610px;
    background: url(../image/index/next&prev_line.png) repeat-x left center;
}
.pro-line span {
    position: absolute;
    height: 29px;
    width: 29px;
    cursor: pointer;
}
.pro-line .prev {
    left: 0;
    background: url(../image/index/prev_jiantou.png) no-repeat;
}
.pro-line .next {
    right: 0;
    background: url(../image/index/next_jiantou.png) no-repeat;
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(250px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}
.fadeInRight{
    animation: fadeInRight 1s;
}


.introduction{
    background:url(../image/index/mokuai02_bg.jpg) no-repeat top center;
    height:923px;
    min-width:1100px;
}

.intro-cont{
    height: 540px;
    position: relative;
    margin: auto;
    background: white;
}
.intro-cont *{
    float: left;
    margin: 0;
    padding: 0;
}
.intro-cont-left{
    margin-left: 70px;
}

.business{
    width: 1100px;
    margin: auto;
    text-align: center;
}
.business *{
    margin: 0;
    padding: 0;
}
.business h1{
    margin-top:10px;
    line-height:60px;
    font-size: 45px;
    color: #311759;
    letter-spacing: 5px;
}
.business h2{
    font-size: 18px;
    letter-spacing: 6px;
    text-align: center;
    color: #311759;
}
.yewucontent{
    border-bottom:2px dashed #e0e0e2;
    margin-bottom:54px;
}
.yewucontent_simple {
    height: 116px;
    margin-bottom: 66px;
}

.yewucontent_simple *{
    float:left;
}
.yewucontent_simple .number{
    width:148px;
    font-size:85px;
    color:#b5b6ba;
    text-align: left;
}
.yewucontent_simple .title{
    width:230px;
    height: 82px;
    margin-top: 40px;
    color: #565559;
    text-align: right;
    margin-left: 50px;

}
.yewucontent_simple .title h3{
    color:#311859;
    font-size:20px;
    font-weight:normal;
    margin-bottom: 8px;
    float: right;

}
.yewucontent_simple .title p{
    float: right;
}
.yewucontent_simple .centerimg{
    width:116px;
    margin:0 44px 0 59px;
    cursor:pointer;
}
@keyframes change1 {
    0%{  transform: scale(0.9) rotate(5deg)  }
    10%{  transform: scale(0.9) rotate(-5deg)  }
    20%{  transform: scale(1.1) rotate(5deg)  }
    35%{  transform: scale(1.1) rotate(-5deg)  }
    40%{  transform: scale(1.1) rotate(5deg)  }
    50%{  transform: scale(1.1) rotate(-5deg)  }
    60%{  transform: scale(1.1) rotate(5deg)  }
    70%{  transform: scale(1.1) rotate(-5deg)  }
    80%{  transform: scale(1.1) rotate(5deg)  }
    90%{  transform: scale(1.1) rotate(-5deg)  }
    100%{  transform: scale(1.1) rotate(5deg)  }
}
.yewucontent_simple .centerimg:hover{
    animation: change1 1s;
}
.yewucontent_simple .simple_description{
    width:320px;
    margin:20px 60px 0 0;
    line-height:24px;
    text-align: left;
}
.yewucontent_simple .shousuo_icon{
    height:67px;
    width:67px;
    background:url(../image/index/business_zhankaishouqi.png);
    cursor:pointer;
    margin-top:22px;
    transition: all 0.5s ;
}
.yewucontent_simple .shousuo_icon.zhankai{
    background:url(../image/index/business_zhankaishouqi.png) 0 67px;
    transition: all 0.5s;
}
.yewucontent_simple .shousuo_icon:hover{
    animation: change1 1s;
}
.yewucontent_ditail{
    padding-bottom:30px;
    width:790px;
    margin-left:180px;
    line-height:24px;
    display:none;
    text-align: left;
}
.yewucontent_ditail p{
    margin-bottom:20px;
}



.teamcontent_wrap{
    position:relative;
    height:430px;
}
.team_change{
    margin-left: -108px;
}
.team-main{
    width: 1100px;
    height: 255px;
    overflow: hidden;
    padding-top: 64px;
    position: relative;
}
.team-box{
    width: 2260px;
    height: 250px;
    position: absolute;
}
.team-list{
    width: 1130px;
    float: left;
    height: 314px;
}
.list-box{
    width:533px;
    height:190px;
    border:1px solid #e0e1e5;
    position:relative;
    float:left;
    margin-right:30px;
    padding: 0;
}
.list-box div{
    float:left;
}
.name{
    width: 222px;
    text-align: center;
    position: relative;
    color:#5f4c82;
    font-size:20px;
}
.name a{
    position: relative;
    top:-65px;
}
.name a i{
    width:156px;
    height:156px;
    background:url(../image/index/team_amore.png);
    position:absolute;
    top:-67px;
    left:0;
    opacity: 0;
    transition: all 0.5s;
}
.name a:hover i{
    opacity: 1;
}
.name p{
    margin-top: -45px;
}
.name span{
    font-size:16px ;
}
.info{
    width:246px;
    height:80px;
    color:#565559;
    line-height:24px;
    font-size:14px;
    text-align: left;
    margin-top:24px;;
}
.info p{
    height:47px;
    width:247px;
    position:absolute;
    bottom:20px;
    left:220px;
    cursor:pointer;
    display: block;
    background:#e7e8ec;
    border:1px solid #e0e1e5;
    color:#5f4c82;

}
.info i{
    position: relative;
    width:45px;
    height:45px;
    display: inline-block;
    background:#d9d9e1 url(../image/index/team_contact.png) 12px 17px no-repeat;
    float: left;
}
.info span{
    float:left;
    line-height:45px;
    text-align:center;
    color:#5f4c82;
    width: 200px;
}

.info p:hover{
    border:1px solid #86759e;
    transition: all 0.5s ;
}
.other_contacts{
    width:47px;
    height:190px;
    background:#2999d6;
    position: absolute;
    right: 0;
    top: -1px;
}
.other_contacts div{
    background:url(../image/index/team_contact.png) no-repeat;
    width:47px;
    height:47px;
    cursor:pointer;
}
.other_contacts div:hover{
    background-color:#168bcb;
    transition: all 0.5s ease 0s;
}
.other_contacts .weibo{
    background-position:14px -28px;
}
.other_contacts .qq{
    background-position:14px -75px;
}
.other_contacts .github{
    background-position:14px -126px;
}
.other_contacts .weixin{
    background-position:14px -166px;
}

.cooperation{
    background: #fff;
    width: 100%;
    height: 860px;
}

.cooperation_cont{
    width: 1100px;
    color: #5f4c82;
    padding-top: 75px;
    margin: auto;
}
.cooperation_cont div{
    float: left;
    text-align: left;
}
.cooperation_cont h4{
    font-size: 32px;
    line-height: 50px;
}
.cooperation_cont p{
    font-size:18px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:normal;
    padding-left:6px;
    letter-spacing:6px;
}
.cooperation_cont img{
    margin-top:70px;
    margin-right: 65px;
    cursor: pointer;
}
.cooperation_cont img:hover{
    opacity:0.8;
    filter:alpha(opacity=80);
}

.partners{
    float:left;
    width: 50%;
    border-right:1px solid #d3d3d3;
    margin-bottom:120px;
}

.users{
    float: right;;
    width: 45%;
    margin-left: 50px;
    position: relative;
}

.users .more{
    position:absolute;
    right:35px;
    top:15px;
    background:url(../image/index/yonghu_morebg.png) no-repeat -69px 0;
    width:69px;
    height:26px;
}
.users .more:hover{
    background-position:0 0;
    transition:all 0.5s ;
}

.input_wrap{
    width: 1100px;
    height: 313px;
    margin: auto;
}

.input_wrap div{
    float: left;
}

.input_box{
    width: 335px;
    height: 47px;
    margin-right: 27px;
    background: #fff;
    border: 1px solid #dedfe3;
    margin-bottom: 27px;
}
.input_box i{
    float: left;
    width: 45px;
    height: 100%;
    background: #e7e8ec url(../image/index/lianxi_icons.png) 13px 14px no-repeat;
}
.input_box input{
    float: left;
    line-height: 45px;
    height: 45px;
    color: #5f4c82;
    font-size: 15px;
    width: 270px;
    border: none 0;
    padding-left: 18px;
    outline: none;
    letter-spacing: 1px;
}
.input_box:hover{
    border:1px solid #b5b5b5;
    transition: all 0.5s ;
}
.textarea_box {
    height: 210px;
    width: 697px;
    margin-right: 30px;


}
.input_box textarea {
    float: left;
    line-height: 27px;
    color: #5f4c82;
    font-size: 15px;
    width: 640px;
    padding-right: 15px;
    height: 200px;
    border: none;
    text-align: left;
    padding-left: 18px;
    padding-top: 10px;
    outline: none;
    resize: none;

}

.shuomin{
    color:#7f7d83;
    height:86px;
    width:330px;
    text-align: left;
}

.shuomin2{
    color:#605f64;
    font-size:15px;
    height:72px;
    width:330px;
    float:left;
    text-align: left;
}
.sentbtn_box{
    background:#168bcb;
    border-color:#2999d6;
    cursor:pointer;
    color: white;
    line-height: 45px;
    text-align: center;
}
.sentbtn_box:hover{
    background:#0d74ac;
    border:1px solid #0d74ac;
    transition: all 0.5s;
}
.sentbtn_box i{
    background-color:#2999d6;
    background-position:-179px 14px;
}
.lianxi_ways{
    width: 100%;
    height: 250px;
    margin-top: 70px;
}
.way_one{
    width:345px;
    height:250px;
    float:left;
    margin-right: 20px;

}
.way_one *{
    float:left;
}
.way_one img{
    position:relative;
    transition: all 0.5s;
}

.way_one img:hover{
    transform: rotate(360deg);

}
.way_one .way_content{
    margin-left:27px;
    width: 210px;
    height: 170px;
    position: relative;
    top:-35px;
    text-align: left;
    padding: 0;
}
.way_one h1{
    line-height: 60px;
    height: 60px;
    width: 210px;
    background: url(../image/index/lianxi_kuaier_bg.png) no-repeat bottom left;
    color: #5f4c82;
    margin-bottom: 14px;
    font-size: 24px;
}
.way_one .way_content p{
    line-height:32px;
    color:#524d5c;
    font-size: 14px;
}

.the_map{
    position:relative;
}
.map_topimg{
    width:1100px;
    position:relative;
    margin:0 auto;
    z-index:999;
}
.map_topimg img{
    position:absolute;
    top:0;
    left:0;
}
.map_bottomimg{
    background:url(../image/index/map_bottomimg.png) top center no-repeat;
    position:absolute;
    bottom:0;
    left:0;
    height:33px;
    width:100%;
    min-width:1100px;
}
.all_map_baidu{
    height: 660px;
    overflow: hidden;
    min-width:1100px;
    margin: 0;
}













@keyframes su-pudding {
    0% {
        transform: scale(1.2, 0.8);
    }
    1% {
        transform: scale(1.18, 0.82);
    }
    2% {
        transform: scale(1.16, 0.84);
    }
    3% {
        transform: scale(1.13, 0.87);
    }
    4% {
        transform: scale(1.1, 0.9);
    }
    5% {
        transform: scale(1.07, 0.93);
    }
    6% {
        transform: scale(1.04, 0.96);
    }
    7% {
        transform: scale(1.01, 0.99);
    }
    8% {
        transform: scale(0.99, 1.01);
    }
    9% {
        transform: scale(0.97, 1.03);
    }
    10% {
        transform: scale(0.95, 1.05);
    }
    11% {
        transform: scale(0.94, 1.06);
    }
    12% {
        transform: scale(0.93, 1.07);
    }
    13% {
        transform: scale(0.93, 1.07);
    }
    14% {
        transform: scale(0.93, 1.07);
    }
    15% {
        transform: scale(0.93, 1.07);
    }
    16% {
        transform: scale(0.94, 1.06);
    }
    17% {
        transform: scale(0.94, 1.06);
    }
    18% {
        transform: scale(0.95, 1.05);
    }
    19% {
        transform: scale(0.96, 1.04);
    }
    20% {
        transform: scale(0.98, 1.02);
    }
    21% {
        transform: scale(0.99, 1.01);
    }
    22% {
        transform: scale(1, 1);
    }
    23% {
        transform: scale(1, 1);
    }
    24% {
        transform: scale(1.01, 0.99);
    }
    25% {
        transform: scale(1.02, 0.98);
    }
    26% {
        transform: scale(1.02, 0.98);
    }
    27% {
        transform: scale(1.02, 0.98);
    }
    28% {
        transform: scale(1.03, 0.97);
    }
    29% {
        transform: scale(1.03, 0.97);
    }
    30% {
        transform: scale(1.02, 0.98);
    }
    31% {
        transform: scale(1.02, 0.98);
    }
    32% {
        transform: scale(1.02, 0.98);
    }
    33% {
        transform: scale(1.02, 0.98);
    }
    34% {
        transform: scale(1.01, 0.99);
    }
    35% {
        transform: scale(1.01, 0.99);
    }
    36% {
        transform: scale(1.01, 0.99);
    }
    37% {
        transform: scale(1, 1);
    }
    38% {
        transform: scale(1, 1);
    }
    39% {
        transform: scale(1, 1);
    }
    40% {
        transform: scale(0.99, 1.01);
    }
    41% {
        transform: scale(0.99, 1.01);
    }
    42% {
        transform: scale(0.99, 1.01);
    }
    43% {
        transform: scale(0.99, 1.01);
    }
    44% {
        transform: scale(0.99, 1.01);
    }
    45% {
        transform: scale(0.99, 1.01);
    }
    46% {
        transform: scale(0.99, 1.01);
    }
    47% {
        transform: scale(0.99, 1.01);
    }
    48% {
        transform: scale(0.99, 1.01);
    }
    49% {
        transform: scale(1, 1);
    }
}

.fixed_tip{
    width:87px;
    height:161px;
    position:fixed;
    bottom:160px;
    right:40px;
    display:none;
}
.scroll_top{
    background:url(../image/index/scroll_top_bg.png) no-repeat;
    height:50px;
    width:50px;
    cursor:pointer;
    margin-left:17px;
    margin-bottom:24px;
}
.scroll_top:hover{
    background-position:0 -50px;
    transition: all 0.3s;
}
.fixed_contactus{
    width:87px;
    height:87px;
    position:absolute;
    right:0;
    top:74px;
    background:url(../image/index/fixed_contactus.png) top right no-repeat;
    cursor:pointer;
}
.fixed_contactus:hover{
    width:235px;
    animation:su-pudding 1s;
    transition: all 0.5s;
}


.next:hover{
    background:url(../image/index/next_jiantou_hover.png);
}
.prev:hover{
    background:url(../image/index/prev_jiantou_hover.png);
}
.prev:hover, .next:hover{
    animation:su-pudding 1s
}